* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 15px;
}

.app-wrapper-content {
  padding: 20px;
  background-color: rgb(203, 224, 233);
  grid-area: cont;
}
